:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
}

code {
  color: dimgrey!important;
}

.body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-columns: 1fr 3fr; /* Adjust column widths */
  grid-template-rows: auto 1fr auto;
  gap: 0; /* Adds space between grid items */
  height: 100vh; /* Full viewport height */
}

.header {
  grid-area: header;
  border-bottom-color: rgb(71, 71, 71);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 0px 24px;
  border-bottom: 1px solid rgb(71, 71, 71);
  box-sizing: border-box;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
}

.nav {
  border-right-color: rgb(71, 71, 71);
  border-right-style: solid;
  border-right-width: 1px;
  grid-area: nav;
  background: #131313;
  padding: 10px;
}

.main {
  background: #131313;
  grid-area: main;
}

.footer {
  grid-area: footer;
  border-top-color: rgb(71, 71, 71);
  border-top-style: solid;
  border-top-width: 1px;
  padding: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
